<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        colors="true"
        stopOnFailure="true"
        bootstrap="tests/bootstrap.php"
        beStrictAboutCoversAnnotation="true"
        verbose="true"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

    <testsuites>
        <testsuite name="unit">
            <directory>tests/src</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
        <report>
            <clover outputFile="tests/build/clover.xml"/>
            <html outputDirectory="tests/build/html/"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>

    <php>
        <var name="AUTH_TOKEN" value="manymanyletters" />
        <var name="API_BASE_URL" value="https://downloads.example.com" />
    </php>

    <logging>
        <log type="coverage-clover" target="tests/build/clover.xml"/>
        <testdoxHtml outputFile="tests/build/testdox.html"/>
        <testdoxText outputFile="tests/build/testdox.txt"/>
    </logging>

</phpunit>
